{{ template "layout" }}

<form action="/signup" method="POST">
New name: <input type="text" name="email" />
New password: <input type="password" name="password" />
<button type="submit">Submit</button>
</form>
